@page
@using TravelPlanner.Core.Accommodation
@model AccommodationListModel

@{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/User/accommodation.css" asp-append-version="true" />
    <div class="flex-container" style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Choose Your Accommodations</h2>
        <div class="search-bar">
            <i class="fas fa-search search-icon"></i>
            <input type="text" placeholder="Search for accommodation...">
        </div>
    </div>
    <div class="accommodation-list">
        @foreach (var accommodation in Model.AccommodationList)
        {
            <div class="accommodation-card">
                <div class="card-content">
                    <div class="card-content-left">
                        <img src="~/img/1.jpg" alt="hotel name" id="hotel-image"/>
                    </div>
                    <div class="card-content-right">
                        <div class="card-header">
                            <div class="hotel-title">
                                <h4>@accommodation.HotelName</h4>
                            </div>
                            <div class="stars">
                                @for (var i = 0; i < accommodation.NumberOfStars; i++)
                                {
                                    <span class="star-icon">★</span>
                                }
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-description">
                                <p>@accommodation.ShortDescription</p>
                            </div>
                            <a class="details-button" href="AccommodationDetails?id=@accommodation.Id">Show Prices and Details</a>
                        </div>
                        <div class="card-footer">
                            <div>
                                <a><small>Show on the map</small></a>
                            </div>
                            <div class="facility-icons">
                                @foreach (var facility in accommodation.AccommodationFacilities)
                                {
                                    @Html.Raw(GetFacilityIcon(facility))
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
@functions {
    string GetFacilityIcon(AccommodationFacility facility)
    {
        switch (facility)
        {
            case AccommodationFacility.OutdoorSwimmingPool:
                return "<i class='fas fa-swimming-pool facility-icon'></i>";
            case AccommodationFacility.FreeParking:
                return "<i class='fas fa-parking facility-icon'></i>";
            case AccommodationFacility.Restaurant:
                return "<i class='fas fa-utensils facility-icon'></i>";
            case AccommodationFacility.SpaAndWellnessCentre:
                return "<i class='fas fa-spa facility-icon'></i>";
            case AccommodationFacility.PetsAllowed:
                return "<i class='fas fa-dog facility-icon'></i>";
            case AccommodationFacility.WIFI:
                return "<i class='fas fa-wifi facility-icon'></i>";
            case AccommodationFacility.RoomService:
                return "<i class='fas fa-concierge-bell facility-icon'></i>";
            case AccommodationFacility.BeachFront:
                return "<i class='fas fa-umbrella-beach facility-icon'></i>";
            case AccommodationFacility.Breakfast:
                return "<i class='fas fa-coffee facility-icon'></i>";
            default:
                return "";
        }
    }
}
