@page "/Form/{TripType}"
@model TravelPlanner.Pages.User.Reservation.ReservationFormModel
@{
    ViewData["Title"] = "Reservation";
}

@if (RouteData.Values["TripType"]?.ToString() == "Friends")
{
    <h1>PLAN TRIP WITH YOUR FRIENDS</h1>
}
else if (RouteData.Values["TripType"]?.ToString() == "Family")
{
    <h2>This is the family page</h2>
}
else if (RouteData.Values["TripType"]?.ToString() == "Solo")
{
    <h2>This is the solo page</h2>
}

