@* <link rel="stylesheet" href="~/css/navbar.css" />
<div class="header">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
        <a class="navbar-brand" href="/User/Index">Travel Planner</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-dark text-center" href="/User/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark text-center" href="/User/Discover">Discover</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark text-center" href="/User/TripsHome">Travel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark text-center" href="/User/ContactUs">Contact</a>
                </li>
            </ul>
        </div>

    </nav>
    <img class="background-image" src="./img/IMG_9624.jpg" />
</div> *@