body {
    background-color: #E7E2E0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #4d3426;
}
main {
    flex-grow: 1;
    margin-left: 60px;
    margin-right: 60px;
}
.footer {
  margin-top: auto;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

#normal-btn {
    background-color: #85865f;
    border-color: #85865f;
    font-weight: bold;
    color: #212529;
    margin-top: 15px;
}

    #normal-btn:hover {
        box-shadow: -1px -1px 27px -11px rgba(0,0,0,0.67);
        background-color: #6C6D46;
        border-color: #6C6D46;
        color: white;
    }

#cancel-btn {
    background-color: #f5222d;
    border-color: #f5222d;
    font-weight: bold;
    color: #212529;
    margin-top: 15px;
}

    #cancel-btn:hover {
        box-shadow: -1px -1px 27px -11px rgba(0,0,0,0.67);
        background-color: #DC0914;
        border-color: #DC0914;
        color: white;
    }