body {
    background-color: #E7E2E0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
    margin-left: 60px;
    margin-right: 60px;
}
.footer {
  margin-top: auto;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
  