@page 
@model TravelPlanner.Pages.User.IndexModel
@{
    <link rel="stylesheet" href="~/css/User/index.css" asp-append-version="true" />
    <div class="text-box">
        <p>
            Are you ready for an unforgettable adventure? Welcome to Siwa Travel Planner, 
            your gateway to the captivating beauty and culture of Siwa Oasis in Egypt. Whether you're a 
            solo traveler seeking solitude, a family yearning for unique experiences, or friends looking for the next great adventure, 
            Siwa has something special to offer each of you.
        </p>
    </div>
    <div class="container-custome">
        <div class="column">
            <div class="buttons">
                <button class="nav-button">Discover Siwa</button>
                <button class="nav-button">Plan your trip</button>
            </div>
        </div>
        <div class="column">
            <div class="right-box">
                <div class="text-box">
                    <p>Not your first time?</p>
                    <div class="buttons">
                        <button class="nav-button">Review previous trip</button>
                        <button class="nav-button">View or edit my trip</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
