@page
@model TravelPlanner.Pages.User.TripsHomeModel
@{
    <link rel="stylesheet" href="~/css/User/navpages.css" asp-append-version="true" />
    <div class="text-box">
        <h2>Customize your trip with Siwawi Travel Planner!</h2>
    </div>
    <div class="container-custome">
        <div class="column">
            <button class="nav-button button-box">A Group of Friends</button>
        </div>
        <div class="column">
            <button class="nav-button button-box">Family Trip</button>
        </div>
        <div class="column">
            <button class="nav-button button-box">Travelling Solo</button>
        </div>
    </div>
}
