@page 
@model TravelPlanner.Pages.User.TripsHomeModel
@{
    ViewData["Title"] = "Travel";
}

<h1>Customize your trip to Siwa with us!</h1>

<div style="margin-top: 80px;">
    <div class="row" style="justify-content: space-evenly;">
        <div class="col-lg-3 my-2">
            <div class="card" style="height: 192px; border-radius: 10px; background-color: #F8F0F0; border: 2px solid #3b3a3a; text-align:center;">
                <div class="card-body" style="display: flex;flex-direction: column;justify-content: space-evenly;">
                    <h3 class="card-title">A group of friends</h3>
                    <div>
                    <a id="normal-btn" asp-page="/User/Reservation/ReservationForm" asp-route-TripType="Friends" class="btn btn-primary">Start Here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 my-2">
            <div class="card" style="height: 192px; border-radius: 10px; background-color: #F8F0F0; border: 2px solid #3b3a3a; text-align:center;">
                <div class="card-body" style="display: flex;flex-direction: column;justify-content: space-evenly;">
                    <h3 class="card-title">Trip with family</h3>
                    <div>
                        <a id="normal-btn" asp-page="/User/Reservation/ReservationForm" asp-route-TripType="Family" class="btn btn-primary">Start Here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 my-2">
            <div class="card" style="height: 192px; border-radius: 10px; background-color: #F8F0F0; border: 2px solid #3b3a3a; text-align:center;">
                <div class="card-body" style="display: flex;flex-direction: column;justify-content: space-evenly;">
                    <h3 class="card-title">Travel Solo</h3>
                    <div>
                        <a id="normal-btn" asp-page="/User/Reservation/ReservationForm" asp-route-TripType="Solo" class="btn btn-primary">Start Here</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>